.FinalMealsDisplay {
  display: block;
  min-height: 240px;
  width: 100%;
  margin: 3rem 0 4rem 0;
  background-color: var(--app-body-color-light);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#FinalMealsDisplay-p {
  margin: auto;
  padding: 3rem;
  font-family: 'Roboto' , sans-serif;
  font-size: 1.8rem;
  min-height: 3rem;
  width: 60%;
  word-wrap: break-word;
  color: var(--finalMealsDisplay-text--p);
  background: var(--finalMealsDisplay-text--p-bg);
  text-transform: capitalize;
  border-radius: 5px;
  outline: 0.3rem solid var(--app-highlight);
  //display: block;
  //line-height: 1.8rem;
  //word-spacing: 0.2rem;
  //vertical-align: middle;
}
.finalMealsDisplay-image-row {
  //margin: auto;
  margin: 2rem 0rem 0 0rem;
  padding: 1.6vw;
  display: flex;
  //border-top: 0.2rem solid var(--app-highlight);
  
  flex-direction: row;
  flex-grow: 1;
  //flex-wrap: wrap;
  align-items: center;
  column-gap: 1.6vw;
  background-color: var(--finalMealsDisplay-text--p-bg);
  justify-content: space-evenly;
}
.finalMealsDisplay-imageWrapper {
  height: auto;
  border-radius: 5px;

  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}

.finalMealsDisplay-image {
  
  width: 100%;
  height: 18rem;
  border-top-right-radius: 0.2rem;
  border-top-left-radius: 0.2rem;
  object-fit: cover;
  /* important for aspect ratio */
  
  /*testing*/
  -webkit-transition: all 1.2s 0s ease-in-out;
  -moz-transition: all 1.2s 0s ease-in-out;
  -o-transition: all 1.2s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
  border-radius: 0.5rem;
  outline: 0.3rem solid var(--app-highlight);
  box-shadow: 0 2px 7px var(--item-box-shadow);

}

.finalMealsDisplay-image:hover {
  scale: 1.3;
  z-index: 2;
  //height: max-content;
  //height: fit-content;
}
.foodIcon-wrapper {
  margin: 2rem 0 1rem 0%;
}

.foodIcon {
  margin: 0 1%;
  animation: pulseAnimation 4.5s alternate infinite ease-in-out;
}

@keyframes pulseAnimation {
	0%   {
    transform: scale(0.9);
    rotate: 0deg;
  }
  50% {
    transform: scale(1);
    rotate: -12deg;
  }
  100%   {
    transform: scale(0.9);
    rotate: 24deg;
  }
}

.FinalMealsDisplay h2 {
  font-size: 2.2rem;
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  color: var(--finalMealsDisplay-text);
}

/* MEDIA QUERIES */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}
/*
//.finalMealsDisplay-image-row
//margin: 6rem 1.6vw;
//
//.finalMealsDisplay-imageWrapper
//height: auto;
//
//.finalMealsDisplay-image
//width: 100%;
//height: 12rem;
*/

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 550px) {


  .finalMealsDisplay-image {
    
    width: 100%;
    height: 12rem;
    margin: 0;
    //padding: 0;
    //column-gap: 0.6rem;
  }

}