.FinalMealsDisplay {
  display: block;
  min-height: 240px;
  width: 100%;
  margin: 30px 0 40px 0;
  background-color: var(--app-body-color-light);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.FinalMealsDisplay p {
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-family: Roboto;
  display: block;
  min-height: 30px;
  width: 60%;
  word-wrap: break-word;
  margin: auto;
  padding: 30px 30px;
  color: var(--finalMealsDisplay-text--p);
  background: var(--finalMealsDisplay-text--p-bg);
  border-radius: 5px;
}

.FinalMealsDisplay h2 {
  font-size: 2.2rem;
  font-family: Roboto;
  font-weight: 700;
  color: var(--finalMealsDisplay-text);
}

//
////////////////////////////////////////////////
///////          MEDIA QUERIES        //////////
////////////////////////////////////////////////
//

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


}