.IngredientsNumCounter{
  display: block;
  height: auto;
  
  width: 100%;
  background-color: var(--app-bg-color);
}
.IngredientsNumCounter button {
  display: inline-block;
  height: 100px;
  width: 100px;
  color: white;
  font-size: 16pt;
  border-radius: 100%;
  border: none;
  margin: 0 0 0 0;
}
.IngredientsNumCounter h2 {
  font-size: 20pt;
  font-family: Roboto;
  font-weight: 700;
  color: var(--input-text);
  margin-bottom: 30px;
}
#addIngredientsButton {
  
  background-color: var(--bttn-submit);
}
#removeIngredientsButton {
  
  background-color: var(--bttn-remove);
  
}
#ingredientsNumCounterDisplay {
  font-size: 46pt;
  line-height: 46pt;
  font-family: Roboto;
  font-weight: 700;
  width: 12vw;
  color: var(--counter-text);
  display: inline-block;
  //border: 3px solid red;

}

#submitTotalIngredientsButton {
  display: block;
  height: 50px;
  color: rgb(4, 131, 57);
  font-size: 16pt;
  width: 200px;
  background-color: var(--bttn-submit);
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}