.IngredientsNumCounter {
  display: block;
  height: auto;
  width: 100%;
  background-color: var(--app-body-color);
}

.buttons-wrapper {
  margin: auto;
  height: 200px;
  width: 90%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-wrapper svg {
  margin: auto;
  height: auto;
  overflow: visible;
  width: 40%;
  align-items: center;
  justify-content: center;
}

.IngredientsNumCounter button {
  display: block;
  height: 6rem;
  width: 6rem;
  color: white;
  text-shadow: 0 1px #222;
  font-size: 2.8rem;
  border-radius: 10%;
  margin: 0 2%;
  cursor: pointer;
  z-index: 1;
}

.IngredientsNumCounter button:focus {
  /*removes blue outline when activated */
  outline: none;
}

.IngredientsNumCounter h2 {
  font-size: 2.5rem;
  font-family: 'Roboto' , sans-serif;
  font-weight: 700;
  color: var(--counter-text);
  margin: 7rem 0;
  padding: 0 10px;
  text-transform: uppercase;
}

#ingredientsNumCounterDisplay {
  font-size: 14rem;
  vertical-align: middle;
  font-family: 'Roboto' , sans-serif;
  font-weight: 900;
  width: auto;
  color: white;
  display: inline-block;
  text-shadow: 2px 4px 2px var(--box-shadow);
}

#addIngredientsButton {
  color: white;
  border: none;
  background-color: var(--bttn-add-ingredients);
}

#addIngredientsButton:hover {
  color: white;
  background-color: var(--bttn-add-ingredients-toggled);
}

#removeIngredientsButton {
  color: white;
  border: none;
  background-color: var(--bttn-remove-ingredients);
}

#removeIngredientsButton:hover {
  color: white;
  background-color: var(--bttn-remove-ingredients-toggled);
}

#submitTotalIngredientsButton {
  display: block;
  width: 50%;
  max-width: 390px;
  height: 50px;
  margin: 70px auto 30px auto;
  font-weight: 700;
  border-radius: 5px;
  font-size: 1.6rem;
  color: var(--light-text);
  text-shadow: none;
  background-color: var(--bttn-submit);
  border: 3px solid var(--bttn-submit);
  cursor: pointer;
}

#submitTotalIngredientsButton:hover {
  text-shadow: 1px 1px 0 var(--box-shadow);
  color: white;
  background-color: var(--bttn-submit-toggled);
  cursor: pointer;
}

#numCircle {
  transition: 0.3s ease-in-out all;
}

//
////////////////////////////////////////////////
///////          MEDIA QUERIES        //////////
////////////////////////////////////////////////
//

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {


}