.IngredientsNumCounter{
  display: block;
  height: 400px;
  width: 100%;
  background-color: var(--app-bg-color);
}
.IngredientsNumCounter button {
  
}

#addIngredientsButton {
  display: inline-block;
  height: 50px;
  color: white;
  font-size: 16pt;
  width: 200px;
  background-color: var(--bttn-submit);
  border-radius: 10px;
  border: none;
  margin: 0 0 0 0;
}
#removeIngredientsButton {
  display: inline-block;
  height: 50px;
  color: white;
  font-size: 16pt;
  width: 200px;
  background-color: var(--bttn-remove);
  border-radius: 10px;
  border: none;
  margin: 0 0 0 0;
}
#ingredientsNumCounterDisplay {
  font-size: 23pt;
  line-height: 23pt;
  width: 12vw;
  display: inline-block;
}

#submitTotalIngredientsButton {
  display: block;
  height: 50px;
  color: rgb(4, 131, 57);
  font-size: 16pt;
  width: 200px;
  background-color: var(--bttn-submit);
  border-radius: 10px;
  border: none;
  margin: 0 auto;
}