.AppHeader {
    display: block;
    height: 70px;
    width: 100%;
    background-color: var(--app-body-color-light);
    border-radius: 5px;
  }

  .AppHeader h1 {
    font-size: 25pt;
    font-family: Roboto;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 70px;
    font-weight: 600;
    color: var(--dark-text);
  }