  
  .AddCupboardItem{
    background-color: rgb(80, 80, 80);
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
  }

  #AddCupboardItem-input{
    height: 55px;
    width: 550px;
    color: var(--input-text);
    font-family: Roboto;
    font-size: 18pt;
    //margin: 50px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 15px 0 0;
    padding: 0 0 0 7px;
  }

#cupboardSubmitBtn {
  display: inline-block;
  min-height: 60px;
  width: 170px;
  color: rgb(4, 131, 57);
  background-color: var(--bttn-submit);
  font-size: 20pt;
  border-radius: 5px;
  border: none;
  margin: auto;
}
