  
  .AddCupboardItem{
    background-color: rgb(80, 80, 80);
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    justify-content: space-evenly;
  }

  #AddCupboardItem-input{
    height: 55px;
    width: 500px;
    color: var(--input-text);
    font-family: Roboto;
    font-size: 16pt;
    //margin: 50px 20px;
    border: none;
    border-radius: 5px;
    margin: 0 15px 0 0;
    padding: 0 0 0 7px;
  }

#cupboardSubmitBtn {
  display: inline-block;
  min-height: 60px;
  width: 170px;
  color: rgb(196, 253, 220);
  background-color: var(--bttn-submit);
  font-size: 15pt;
  border-radius: 5px;
  border: none;
  margin: auto;
}

#cupboardDeleteBtn {
  display: inline-block;
  min-height: 60px;
  width: 170px;
  color: rgb(252, 198, 198);
  background-color: var(--bttn-remove);
  font-size: 15pt;
  border-radius: 5px;
  border: none;
  margin: auto;
}
