.ThemeToggler-Wrapper {
    height: fit-content;
    width: 8vw;
    position: fixed;
    top: 70px;
    right: 30px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid white;
    background: var(--app-bg-color);
    padding: 20px;
    
}
#theme-text {
    display: block;
    line-height: 0;
    height: auto;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    color: var(--app-highlight);
}
.themeChevron{
    display: block;
    font-size: 2rem;
    height: 5px;
    color: red;
    margin: 15px auto 0 auto;
    cursor: pointer;
}

#themePickerVisibility {
    display: none ;
}


.dropdown:hover .dropdown-content {
    display: block;
  }

.ThemeToggler_btn {
    margin: 4px;
    width: 30px;
    height: 30px;
    border-radius: 5px; 
    border: none;
    box-shadow: 0 2px 2px rgb(76, 88, 126);
    cursor: pointer;
}
.ThemeToggler_btn:focus {
    outline: none;
}
.dark {
    background-color: rgb(133, 135, 136);
}
.light {
    background-color: rgb(130, 210, 220);
}
.red {
    background-color: rgb(223, 55, 55);
}
.blue {
    background-color: rgb(95, 194, 252);
}
.green {
    background-color: rgb(55, 223, 055);
}
.yellow {
    background-color: rgb(235, 220, 13);
}
.reset {
    background-color: rgb(97, 221, 255);
}

.ThemeToggler_btn:hover {
    filter: brightness(0.7);
}
.ThemeToggler_btn:focus {
    background-color: var(--app-highlight);
  }
.ThemeToggler_btn:last-of-type {
   width: 105px;
}