.FinalMealsDisplay-Wrapper {
  display: block;
  height: 250px;
  width: 100%;
  background-color: var(--app-body-color-light);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.FinalMealsDisplay {
  display: block;
  height: 200px;
  width: 100%;
  background-color: var(--app-body-color-light);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.FinalMealsDisplay p {
  font-size: 16pt;
  font-family: Roboto;
  display: block;
  height: 150px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  padding: 30px 30px;
  background-color: white;
  border-radius: 5px;
}