@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');

:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
  --app-bg-color: linear-gradient(to top, #2C5364, #203A43, #0F2027);
  --app-highlight:rgb(97, 221, 255);
  --app-body-color: rgb(68, 68, 68);
  --app-body-color-light: rgb(240, 240, 243);
  --bttn-submit: rgb(97, 221, 255);
  --bttn-submit-toggled: rgb(59, 134, 155);
  --bttn-remove-item: rgb(219, 34, 1);
  --bttn-remove-item-toggled: rgb(167, 57, 27);
  --bttn-remove-all: rgb(219, 34, 1);
  --bttn-remove-all-toggled: rgb(167, 57, 27);
  --bttn-add-ingredients:rgb(97, 221, 255);
  --bttn-add-ingredients-toggled:rgb(59, 134, 155);
  --bttn-remove-ingredients: rgb(219, 34, 1);
  --bttn-remove-ingredients-toggled:rgb(167, 57, 27);
  --input-text: rgb(55, 55, 55);
  --counter-text: rgb(255, 255, 255);

  --item-bg-color: rgb(240, 240, 245);
  --item-text: rgb(58, 58, 93);
  --item-box-shadow: rgb(58, 58, 93, 1);
  
  --dark-text: rgb(55, 55, 55);
  --light-text: rgb(255, 255, 255);
  --finalMealsDisplay-text: rgb(68, 68, 68);
  --finalMealsDisplay-text--p: rgb(68, 68, 68);
  --finalMealsDisplay-text--p-bg: rgb(255, 255, 255);
  --footer-text: rgb(255, 255, 255);
  --box-shadow: rgb(22, 22, 44);
  --ThemeToggler_btn-shadow: rgb(55, 55, 55);
  --empty-cupboard-msg: rgb(55, 55, 55);
  --theme-reset-text: rgb(255, 255 ,255);
  
/* Usage - background-color: var(--app-body-color); */
}


body {
  background: var(--app-bg-color);
  font-family: 'Roboto', sans-serif;
}

#App {
  text-align: center;
  margin: 70px auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
  background-color: var(--app-body-color-light);
  box-shadow: 0px 2px 4px  var(--box-shadow);
  outline:5px solid var(--app-highlight);
  border-radius: 12px;
  -webkit-transition: all 1.2s 0s ease-in-out;
  -moz-transition: all 1.2s 0s ease-in-out;
  -o-transition: all 1.2s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}

textarea:focus, input:focus{
  outline: none;
}

/* MEDIA QUERIES */

/* Smaller than standard 1400 (devices and browsers) */
@media only screen and (max-width: 1400px) {
  #App {
    margin: 1rem auto;
    width: 95vw;
  }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 0px) and (max-width: 858px) {
  :root {
    font-size: 52.5%;}
    
    #App {
      margin: 2rem auto;
      width: 86vw;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    #App {
          margin: 1rem auto;
          width: 92vw;
        }

}

