body {
  background-color: lightslategray;
}

.App {
  text-align: center;
  margin: 100px auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 10px 5px #2e2d2d;
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/
.App-link {
  color: #09d3ac;
}

.AppHeader {
  display: block;
  height: 100px;
  width: 100%;
  border: 10px solid teal;
  background-color: lightgrey;
}

.AddCupboardItem{
  display: block;
  height: 150px;
  width: 100%;
  border: 10px solid pink;
background-color: lightgrey;
}
.CupboardDisplayItems{
  display: block;
  height: auto;
  min-height: 300px;
  width: 100%;
  border: 10px solid green;
background-color: lightgrey;
}
.IngredientsNumCounter{
  display: block;
  height: 400px;
  width: 100%;
  border: 10px solid red;
background-color: lightgrey;
}

.FinalMealsDisplay {
  display: block;
  height: 150px;
  width: 100%;
  border: 10px solid lightgreen;
  background-color: lightgrey;
}