body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*******testing css******/
#console-log-btn {
  background-color: white;
  color: green;
  border: 7px solid rgb(133, 132, 132);
  height: 75px;
  width: 50% auto;
  margin: 10px 0 0 0;

}
#console-log-btn-others {
  background-color: white;
  color: rgb(13, 45, 189);
  border: 7px solid rgb(133, 132, 132);
  height: 75px;
  width: 50% auto;
  margin: 10px 0 0 0;

}